<h1>История укулеле</h1>
<p>
    Гавайские гитары обычно ассоциируются с музыкой Гавайских островов, где слово «укулеле» примерно переводится как «прыгают блохи», в связи с движениями пальцев правой руки при игре на этом инструменте, напоминающими «блошиные прыжки».
</p>
<p>
    По словам Королевы Lili’uokalani, последней из Гавайских Монархов, название означает «подарок, который приехал сюда», происходит от гавайских слов -uku (подарок или вознаграждение) и -lele (приехать). Гавайскую гитару придумали в 1880-х годах и за основу был взят гитароподобный инструмент – Мачете (аналогичен современной Португальской Cavaquinho и Испанскому Timple), который завезли на Гавайи иммигранты из Португалии и Испании. Первыми укулельными мастерами считаются три иммигранта – столяры из Мадейры - Manuel Nunes, Jos? do Esp?rito Santo и Augusto Dias. Через две недели после того, как они прибыли на Гавайи в конце августа 1879г., местная газета сообщила, что «Выходцы из Мадейры прибыли к нам радовать людей ночными уличными концертами». Одним из наиболее важных факторов появления укулеле в Гавайской музыке и культуре, было пристрастие царя Давида Калакауа к этому инструменту. Он включил укулеле в выступления на королевских приемах.
</p>
<p>
    Так что на самом деле, происхождение Гавайской гитары - Португальское. Однако Гавайская гитара всегда будет по понятным причинам иметь корни в Гавайской культуре.
</p>

<p>
    С момента прибытия укулеле на Гавайи, там начался укулельный бум. На рубеже 20-го века, укулеле становится основным инструментом в театральных постановках Варьете в США и Великобритании (с Клиффом Эдвардсом и Джорджем Формби соответственно). Затем Гавайская гитара была почти забыта и только за последние 10 лет набрала невероятную популярность. Господин Формби наверное сейчас бы пошатнулся, узнав насколько широко популярна в наше время укулеле, её любят все – от хиппи от панков, от металлистов до исполнителей традиционной Гавайской музыки.
</p>
<p>
    Появился в 1880-е годы как развитие брагиньи — миниатюрной гитары с острова Мадейра, родственной португальскому кавакиньо. Изобретателем считается Мануэль Нуньес (порт. Manuel Nunes). Укулеле распространена на различных тихоокеанских островах, но ассоциируется прежде всего с гавайской музыкой со времён гастролей гавайских музыкантов на Тихоокеанской выставке 1915 года в Сан-Франциско.
</p>
<h1>Гавайская гитара в кино и литературе</h1>
<img src="images/history-monro.jpg"  class="inlinetext">
<p>
    Популярность укулеле в последнее время довольно сильно возросла благодаря участию ее в различных художественных произведениях, таких как «Лило и Стич», «Доктор Хаус», «Клиника», «В джазе только девушки» и др. Наверное, при просмотре этих популярных творений мирового кинематографа внимание на маленькую гитару как-то не обращалось, зато после прочтения данной статьи можно с интересом пересматривать и выискивать в сюжете главную героиню данной статьи! Так же гавайская гитара оставила свой след в русской и мировой литературе, в частности, в произведениях И.Ильфа и Е. Петрова, И. Бродского, Дж. Лондона и других. Ну и, естественно, нельзя не отметить музыкантов, играющих на этом музыкальном инструменте. К таким можно отнести Аманду Палмер, Роки Леона, Герберта Хаури и других.
</p>
