<h1>Описание инструмента</h1>
<p>Существует четыре вида укулеле, и отличаются они, в первую очередь, своим размером. Сопрано — самый распространенный вариант. Составляя в длину всего 53 сантиметра, он является самым высоким по тональности. Концертная укулеле чуть больше, его длина равна 58 сантиметрам. Тенор — гитара длиной в 66 сантиметров, а баритон — 76.</p>
<p>Стандартный строй для сопрано, концертной и тенора — G, C, E, A (соль, до, ми, ля), а для баритона — D, G, B, E (ре, соль, си, ми). </p>
<p>Играют на укулеле в основном кончиками пальцев простым боем. Допустимо также использовать плектр или медиатор. Принцип игры и схема аккордов не вызывают больших сложностей, а таблицы с аккордами и ноты широко представлены на соответствующих сайтах и форумах.</p>
<div class="images">
    <img src="images/ukulele.jpg">
    <img src="images/ukulele-1.jpg">
    <img src="images/ukulele-2.jpg">
</div>
<h1>Описание</h1>
<div class="images">
    <img src="images/stroy.jpg">
</div>
<h1>Дополнительные элементы</h1>
<h2>Медиатор</h2>
<img src="images/mediator.jpg"  class="inlinetext">
<p>Внешне укулеле похож на гитару, поэтому при игре на нем также используется медиатор (или по-другому, плектр). Технология действия медиатора для укулеле такая же, как и при игре на его старшей «родственнице». С помощью этой пластинки струны инструмента приходят в колебательное состояние и, или ударяются по ней, или медиатор их защипывает. Так и достигается нужное звучание. Используют фетровые, резиновые и другие медиаторы. Выбор этого полезного аксессуара для инструмента зависит полностью от вашего музыкального вкуса. Существует мнение, что фетровый медиатор почти бесполезен. Резиновые же медиаторы для укулеле дают «точный», звонкий звук. Войлочный медиатор дает инструменту более мягкое, не режущее ухо, звучание. Он как бы сглаживает острые углы, делает музыку более мелодичной. Металлические медиаторы используют крайне редко – уж очень быстро портятся и изнашиваются струны. Поэтому для укулеле подойдут более «мягкие» медиаторы – из эбонита, пластика и других материалов. </p>
<p> Однако укулеле все же и строением и звучанием отличается и от традиционной и привычной гитары и от струнных инструментов, поэтому и с медиатором на этом инструменте нужно работать по-другому.</p>
<ul>
    <li>Во-первых, обычным медиаторов на укулеле играть не рекомендуется – струны очень быстро изнашиваются, приходят в негодность, и их нужно заменять.</li>
    <li>Во-вторых, медиаторы существуют разной жесткости (супер гибкие, гибкие, средние и жесткие медиаторы). Некоторые производители на изделиях сразу указывают их толщину в миллиметрах и жесткость.Поэтому при выборе этого аксессуара уделите должное внимание и его характеристикам. От жесткости пластины будет зависеть звук, который вы получите. </li>
    <li>Во-третьих, нужно выбрать манеру игры. Некоторые играют на этом инструменте, используя только пальцы. Другие – извлекают звук при помощи медиатора. Некоторые используют даже смычки.</li>
</ul>


