<h1>Песни</h1>

<div id="songs-list"></div>

<a class="h_song" data-toggle="collapse" href="#collapse-add-song" aria-expanded="false" aria-controls="collapseExample">
    <h3> + Добавить песню</h3>
</a>
<div class="collapse" id="collapse-add-song">
    <div class="card card-body">
        <form name="add-song" id="add-song" data-toggle="validator" role="form">
            <div class="form-group">
                <label for="name" class="control-label">Название:</label>
                <input type="text" size="40" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="creator" class="control-label">Исполнитель:</label>
                <input type="text" size="40" name="creator" id="creator" class="form-control">
            </div>
            <div class="form-group">
                <label for="genres" class="control-label">Жанры:</label>
                <input type="text" size="40" name="genres" id="genres" class="form-control">
            </div>
            <div class="form-group">
                <label class="custom-file">
                    <input type="file" name="song" id="song" class="custom-file-input">
                    <span class="custom-file-control" data-text="Выбрать песню..." id="input-song-text"></span>
                </label>
            </div>
            <div class="form-group">
                <label for="accord" class="control-label">Используемые аккорды:</label>
                <input type="text" size="40" name="accord" id="accord" class="form-control">
            </div>
            <div class="form-group">
                <label for="text" class="control-label">Текст песни:</label><br>
                <textarea name="text" id="text" rows="10" class="form-control" style="max-width: 100%;"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Отправить</button>
                <button type="reset" class="btn btn-default">Очистить</button>
            </div>
        </form>

    </div>
</div>

<div id="errors-block"></div>
<!--div class="collapse" id="collapse2">
    <div class="card card-body">
        <audio controls>
            <source src="audio/last_christmas.mp3" type="audio/mpeg">
        </audio>
        <h5> <b>Исполнитель:</b> Wham!</h5>
        <h5> <b>Жанры:</b> Поп-музыка </h5>
        <h5> <b>Текст песни:</b> </h5>
        <p><pre>
C
Last Christmas I gave you my heart
        Am                Am7
But the very next day you gave it away
Dm
This year to save me from tears
      G                  G7
I'll give it to someone special.


C
Last Christmas I gave you my heart
        Am                Am7
But the very next day you gave it away
Dm
This year to save me from tears
      G                  G7
I'll give it to someone special.

C
Once bitten and twice shy
   Am                             Am7
I keep my distance but you still catch my eye
Dm
Tell me baby do you recognise me?
      G                    G7
Well it's been a year, it doesn't surprise me.


-SAME CHORD PATTERN THROUGHOUT THE SONG-

I wrapped it up and sent it
With a note saying "I Love You" I meant it
Now I know what a fool I've been
But if you kissed me now I know you'd fool me again

Chorus:
C
Last Christmas I gave you my heart
        Am                Am7
But the very next day you gave it away
Dm
This year to save me from tears
      G                  G7
I'll give it to someone special.

-Oooh. Oooh Baby-

A crowded room, friends with tired eyes
I'm hiding from you and your soul of ice
My God I thought you were someone to rely on
Me? I guess I was a shoulder to cry on
A face on a lover with a fire in his heart
A man undercover but you tore me apart
Oooh Oooh
Now I've found a real love you'll never fool me again.

Chorus:
C
Last Christmas I gave you my heart
        Am                Am7
But the very next day you gave it away
Dm
This year to save me from tears
      G                  G7
I'll give it to someone special.
        </pre></p>
        <h5> <b>Используемые аккорды:</b> A, Am, Am7, C, Dm, G, G7</h5>
    </div>
</div-->
