<h1>Ноты</h1>
<p>Нота в музыке — это графическое обозначение звука музыкального произведения, один из основных символов современной музыкальной нотации. Вариации в изображении ноты, а также сочетания с другими символами позволяют задать такие характеристики обозначаемого нотой звука, как высоту, длительность и порядок исполнения по отношению к другим звукам.</p>
<p>До нот в европейской музыке использовались особые знаки — невмы. Современная музыкальная нотация восходит к трудам Гвидо д'Ареццо первой половины XI века, который начал записывать ноты на четырёхлинейном нотном стане. Впоследствии система дорабатывалась (добавилась пятая линейка, изменился внешний вид нот и ключи и т. д.), и в современном виде она существует с XVII века. Около 1700 года немецкий ученый и музыкант Андреас Веркмейстер предложил логарифмически равномерную двенадцатитоновую музыкальную шкалу и изготовил фортепиано, настроенное в соответствии с ней.</p>

  <p>  Во времена зарождения с помощью нот могли быть записаны только высоты звуков, но не ритм; в периоды ранней мензуральной (XIII век), «чёрной» мензуральной (XIV век) и «белой» мензуральной (XV, XVI века) нотаций развивалась в основном эта составляющая записи музыки.</p>
<div class="images">
    <img src="images/notes.jpg">
</div>
<h1>Гриф</h1>
<div class="images">
    <img src="images/grif.jpg">
</div>

<h1>Таблица аккордов</h1>
<div class="images">
    <img src="images/ak1.jpg">
    <img src="images/ak2.jpg">
    <img src="images/ak3.jpg">
    <img src="images/ak4.jpg">
    <img src="images/ak5.jpg">
    <img src="images/ak6.jpg">
    <img src="images/ak7.jpg">
    <img src="images/ak8.jpg">
    <img src="images/ak9.jpg">
    <img src="images/ak10.jpg">
    <img src="images/ak11.jpg">
    <img src="images/ak12.jpg">
</div>
